<!DOCTYPE html>
<html>
    <head>
        <title>Firebase Practice</title>

    </head>
    <style>
        body {
            padding-top: 20px;
            text-align: center;
            font-size: 19px;
        }
        .image {
            width: 200px;
            height: 180px;
        }
    </style>
    <body>
        <a href='/'>Home page</a>
        <a href='/about'>About Us</a>
        {{{body}}}
    </body>
</html>