<style>
    ul {
        text-align: center;
    }
</style>
<h2>About Me</h2>
<p>Find out a little about me here.</p>

<ul>
    <li>I started coding with HTML/CSS and Javascript and began my coding journey with building a simple rock paper scissors app.</li>
    <li>I then went on do study Node.js and Express.js as well as Handlebars in order to build more complicated things.</li>
    <li>Now I've got a great understanding of Express.js and Handlebars and I was able to build this smal web app!</li>
</ul>